node_modules
client/node_modules
server/node_modules
.env
.env.*
!.env.example
client/.env
server/.env
src/.env
coverage
.DS_Store
npm-debug.log*
.vscode
dist/
client/dist
server/dist
build/
.next/
.env.local
.env.*.local
